version "EAITranslator" 1.0.0 "EAITranslator"
EAITranslator {
	OutputDirectory = ""
	CommonPartsPath = ""
	chordalOption = "RELATIVE"
	structureOption = "MIMIC"
	writeWhichFiles = "JTPARTS,JTASSEMBLY"
	pmiOption = "THIS_LEVEL_ONLY"
	JtFileFormat = "10"
	triStripOpt = true
	seamSewing = false
	seamSewingTol = 0.001
	includeBrep = false
	autoNameSanitize = false
	updateChangedPartsOnly = false
	writeAsciiAssembly = false
	singlePartsNoAssem = false
	autoLowLODgeneration = false
	smartLODgeneration = false
	numLODs = 1
}
Filter {
}
Metadata {
}
LOD "1" {
	Level = 1
	Chordal = 0.001
	Angular = 20
	Length = 0
	AdvCompressionLevel = 0.01
}
ugConfig {
	doWireframe = false
	mergeSheets = false
	mergeSolids = false
	checkLayers = false
	XTbrep = true
	appendRefSetName = false
	getAttributes = false
	representAttributesAs = "DEFAULT"
	getNXBodyNames = true
	appendItemName = true
	appendRevision = true
	excludeViaRefSet = false
	usePreferredRefSets = false
	spotWeldSize = 1
	activateDimPMI = true
	activateGDTPMI = true
	activateNotePMI = true
	activateSymbolPMI = true
	activateSupplementalGeomPMI = true
	activateWeldLabels = true
	activateTablePMI = true
	activateModelViews = "ALL"
	activateDraftingAnnotationIn3D = true
	activateDatums = true
	activateFaceAttributes = true
	includeJoinFeatures = true
	applyPMIRefset = false
	configureLeafNodeName = false
	configureFileName = false
	includeInvisible = false 
	LogReporting = "ERROR,WARNING,INFO"
	ConsoleReporting = "ERROR"
	LogFileName = "UG_PART"
	useRefsets = "DEFAULT"
	getCADProperties = "NONE"
	advancedMaterials = "NONE"
	activateFilters = "LAYER"
	getPMIValidationProperties = false
	getAssemblyValidationProperties = false
	getArrangement = "ACTIVE"
	getKinematics = false
}
