version "EAITranslator" 1.0.0 "EAITranslator"
EAITranslator {
	OutputDirectory = ""
	CommonPartsPath = ""
	chordalOption = "PER_LOD"
	structureOption = "MULTICAD"
	writeWhichFiles = "JTPARTS"
	pmiOption = "PART_AND_ASM"
	JtFileFormat = "10"
	triStripOpt = true
	seamSewing = false
	seamSewingTol = 0.001
	includeBrep = true
	autoNameSanitize = true
	updateChangedPartsOnly = false
	writeAsciiAssembly = false
	singlePartsNoAssem = false
	smartLODgeneration = true
}
Filter {
}
Metadata {
}
LOD "1" {
	NXResolution = CURRENT_NX_RESOLUTION
}
ugConfig {
	doWireframe = false
	mergeSheets = false
	mergeSolids = false
	checkLayers = false
	XTbrep = true
	appendRefSetName = false
	getAttributes = false
	representAttributesAs = "DEFAULT"
	getNXBodyNames = false
	appendItemName = true
	appendRevision = true
	excludeViaRefSet = false
	usePreferredRefSets = false
	spotWeldSize = 1
	activateDimPMI = true
	activateGDTPMI = true
	activateNotePMI = true
	activateSymbolPMI = true
	activateSupplementalGeomPMI = true
	activateWeldLabels = true
	activateTablePMI = true
	activateModelViews = "ALL"
	activateDraftingAnnotationIn3D = true
	activateDatums = true
	activateFaceAttributes = true
	includeJoinFeatures = true
	applyPMIRefset = false
	configureLeafNodeName = false
	configureFileName = false
	includeInvisible = false 
	LogReporting = "ERROR,WARNING,INFO"
	ConsoleReporting = "ERROR"
	LogFileName = "UG_PART"
	useRefsets = "DEFAULT"
	getCADProperties = "CAD_DENSITY,CAD_MATERIAL,CAD_MASS"
	advancedMaterials = "NONE"
	activateFilters = "LAYER"
	getPMIValidationProperties = false
    getAssemblyValidationProperties = false
    getArrangement = "ACTIVE"
	getKinematics = false
}
